/* Yandex map */
#YMapsID {
    margin: 0;
    padding: 0;
    height: 350px;
    margin-bottom: 15px;
}

#coord_form{
    position: absolute;
    z-index: 1000;
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
    list-style: none outside none;
    padding: 10px;
    margin: 0px;
    right: 10px;
    top: 50px;
}
/* End Yandex map */