html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.house-index.inner .table tbody>tr>td:nth-child(3){
    display: inline-block;
    max-height: 157px;
    border: 0px;
    overflow: hidden;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.user-panel>.image>img{
    max-height: 45px;
}

.skin-blue .sidebar-menu>li.header.upper{
    text-transform: uppercase;
    color: #fff;
}

.skin-blue .sidebar-menu>li.header{
    text-transform: uppercase;
    color: #fff;
}

.users-list>li img{
    /*height: 100px !important;*/
}
.table.table-striped.table-bordered td .img{
    padding: 3px;
    float: left;
}

.nav > li > a > img{
    max-width: 20px;
}

/* Errors */
.kv-fileinput-error.file-error-message ul li{
    list-style-type: none !important;
    font-size: 15px !important;
}
.kv-fileinput-error.file-error-message ul li:not([data-file-id*=preview]){
    color: #f2dede;
}
.kv-fileinput-error.file-error-message ul li pre{
    color: #a94442;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    /*text-transform: uppercase;*/
}
/* End Errors */