@charset "UTF-8";
@import "reset.css";


/* CSS Document */


/*
	----------------------------
	HTML SELECTORS
	____________________________
*/


/*body { background: #333; font:14px/21px Helvetica, Arial, sans-serif; color: #333; margin: 0; padding: 0; }*/
/*a { color: #ccc; text-decoration: underline; }*/
/*a:hover { color: #fb2b2b; }*/
/*h1, h2 { font-size: 26px; line-height: 28px; font-weight: normal; letter-spacing: -1px; color: #fff; }*/
/*h3 { font-size: 18px; font-weight: normal; margin: 8px 0; }*/
/*h4 { font-size: 14px; font-weight: normal; margin: 0; }*/
/*h5 { font-size: 12px; font-weight: normal; margin: 0; }*/
/*ul { margin-left: 20px; }*/
/*ol { margin-left: 36px; }*/


/*
	----------------------------
	LAYOUT
	____________________________
*/


#wrapper { width: 960px; margin: 0 auto; padding: 48px 0 72px; }
#main { width: 640px; float: left; }
#main > p, #main > div { margin-left: 7px; }
#sidebar { width: 280px; float: right; }
#sidebar ol { margin: 12px 0 12px 22px; }
/*
	----------------------------
	PAGE/SECTION SPECIFIC
	____________________________
*/


#video-controls{list-style: none; position: absolute; top: 130px; right: 10px; display: inline-block; float: right;}
#video-controls li{padding-bottom: 10px;}
#video-controls a { color: #fff; text-decoration: none; font-weight: 700;}


/*
	----------------------------
	UTILITY CLASSES
	____________________________
*/

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}
