*{
	/*outline: 1px solid green;*/
}
.margin_auto{
	margin: auto;
}
.padding_none{
	padding-left: 0px;
	padding-right: 0px;
}
.padding_left{
	padding-left: 0px;
}
.padding_right{
	padding-right: 0px;
}
.text_upper{
	text-transform: uppercase;
}
.text_bold{
	font-weight: 700;
}
.font_18{
	font-size: 18px;
}
.inline{
	display: inline-block;
}
.inner{
	padding-top: 30px;
	padding-bottom: 30px;
}
.margin_left{
	margin-left: 0px;
}
.margin_bottom_30{
	margin-bottom: 30px;
}
/* font-family: "Roboto"; */
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoM"; */
@font-face {
    font-family: "RobotoM";
    src: url("../fonts/Roboto-Medium.ttf");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "Rusboy"; */
@font-face {
    font-family: "Rusboy";
    src: url("../fonts/rusboycott.ttf");
    font-style: normal;
    font-weight: normal;
}
p{
	font-size: 14px;
	color: #000;
  	font-family: Roboto;
}
a:focus,
a:hover{
	text-decoration: none;
	outline: 0px;
}
.login_form{
	padding-top: 30px;
	padding-bottom: 30px;
}
/*Main*/
/*Header*/
header{
	padding: 5px 0px;
}
header p{
	font-size: 17px;
}
header .padding_top{
	padding-top: 10px;
}
.goal{
	background-image: url('../../images/main/sprite.png');
	background-position: 0px -26px;
	width: 22px;
	height: 22px;
	display: inline-block;
	float: left;
	margin-left: -26px;
}
.ph{
	letter-spacing: 1.2px;
}
.em{
	letter-spacing: -0.8px;
	font-stretch: condensed;
	padding-right: 4px;
}
.phone{
	background-image: url('../../images/main/sprite.png');
	background-position: -26px -26px;
	width: 18px;
	height: 18px;
	display: inline-block;
	margin-right: 8px;
	margin-top: 2px;
	position: relative;
	top: 3px;
}
.envelope{
	background-image: url('../../images/main/sprite.png');
	background-position: -48px -26px;
	width: 24px;
	height: 16px;
	display: inline-block;
	margin-right: 5px;
	margin-top: 2px;
	position: relative;
	top: 3px;
}
header a{
	color: #000;
}
header a:hover{
	color: #2C2C2C;
	text-decoration: none;
}
.navbar-toggle {
	float: none;
	margin-left: 15px;
	display: block;
	margin: auto;
	margin-bottom: 30px;
}
.navbar-nav > li > a{
	padding-left: 5px;
	padding-right: 5px;
	font-size: 12px;
	font-family: RobotoM;
	color: #183679;
	border-right: 1px solid #183679;
	margin-top: 20px;
	margin-bottom: 20px;
}
.navbar-nav > li:last-child > a{
	border-right: 0px solid #183679;
}
.nav > li > a:hover, .nav > li > a:focus{
	background-color: #b8e4fb;
}
.navbar-nav > li > a > span{
}
.navbar-collapse.collapse {
	display: none !important;
}
.navbar-collapse.in {
	display: block !important;
	background-color: #fff;
}
.navbar-toggle .icon-bar{
	background-color: #fff;
	/*background-color: #183679;*/
	height: 5px;
	width: 35px;
}
.nav-justified > li{
	float: initial;
}
label{
	margin-left: 20px;
}
.navbar-nav{
	margin: auto !important;
}
.navbar-header{
	float: initial;
}
.block_menu{
	background-color: #fff;
}
.navbar.animated.flash{
	margin-bottom: 0px;
}
/*End Header*/

/*Sky*/
.sky.inner{
	background-image: url('../../images/main/bg_sky.jpg');
	background-size: 100% 85%;
	background-repeat: no-repeat;
}
.sky.home.inner{
	background-image: url('../../images/main/bg_sky.jpg');
	background-size: 100% 85%;
	background-repeat: no-repeat;
}
.sky.inner:before,
.sky.inner:after{
	display: none;
}
.sky{
	position: relative;
	overflow: hidden;
}
.sky video{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	z-index: 1;
}
.sky:before{
	content: '';
	display: block;
	position: absolute;
	top: -1px;
	right: 0;
	left: 0;
	height: 100px;
	z-index: 2;
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 5%, rgba(255,255,255,0.6) 25%, rgba(255,255,255,0.3) 50%, rgba(255,255,255,0.1) 75%, rgba(255,255,255,0) 95%, rgba(255,255,255,0) 100%);
	/*background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(5%, rgba(255,255,255,1)), color-stop(25%, rgba(255,255,255,0.6)), color-stop(50%, rgba(255,255,255,0.3)), color-stop(75%, rgba(255,255,255,0.1)), color-stop(95%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,0)));*/
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 5%, rgba(255,255,255,0.6) 25%, rgba(255,255,255,0.3) 50%, rgba(255,255,255,0.1) 75%, rgba(255,255,255,0) 95%, rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 5%, rgba(255,255,255,0.6) 25%, rgba(255,255,255,0.3) 50%, rgba(255,255,255,0.1) 75%, rgba(255,255,255,0) 95%, rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 5%, rgba(255,255,255,0.6) 25%, rgba(255,255,255,0.3) 50%, rgba(255,255,255,0.1) 75%, rgba(255,255,255,0) 95%, rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 5%, rgba(255,255,255,0.6) 25%, rgba(255,255,255,0.3) 50%, rgba(255,255,255,0.1) 75%, rgba(255,255,255,0) 95%, rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
}
.sky:after{
	content: '';
	display: block;
	position: absolute;
	bottom: -1px;
	right: 0;
	left: 0;
	height: 100px;
	z-index: 2;
	background: rgba(255,255,255,0);
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 5%, rgba(255,255,255,0.1) 25%, rgba(255,255,255,0.3) 50%, rgba(255,255,255,0.6) 75%, rgba(255,255,255,1) 95%, rgba(255,255,255,1) 100%);
	/*background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(5%, rgba(255,255,255,0)), color-stop(25%, rgba(255,255,255,0.1)), color-stop(50%, rgba(255,255,255,0.3)), color-stop(75%, rgba(255,255,255,0.6)), color-stop(95%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));*/
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 5%, rgba(255,255,255,0.1) 25%, rgba(255,255,255,0.3) 50%, rgba(255,255,255,0.6) 75%, rgba(255,255,255,1) 95%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 5%, rgba(255,255,255,0.1) 25%, rgba(255,255,255,0.3) 50%, rgba(255,255,255,0.6) 75%, rgba(255,255,255,1) 95%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 5%, rgba(255,255,255,0.1) 25%, rgba(255,255,255,0.3) 50%, rgba(255,255,255,0.6) 75%, rgba(255,255,255,1) 95%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 5%, rgba(255,255,255,0.1) 25%, rgba(255,255,255,0.3) 50%, rgba(255,255,255,0.6) 75%, rgba(255,255,255,1) 95%, rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
}
.sky img.padding_top{
	padding-top: 20px;
}
.sky .text_title{
	animation-duration: 1s;
	animation-delay: 1.5s;
	opacity: 0;
}
.sky .logo_img2{
	animation-duration: 1s;
	animation-delay: 1.25s;
	opacity: 0;
}
.sky .main_img .img{
	animation-duration: 1s;
	animation-delay: 1s;
	transition: .5s;
	opacity: 0;
	position: relative;
	z-index: 20;
	margin-bottom: 40px;
}
.sky .main_img .img:hover{
	opacity: .9 !important;
	transition: 0.5s;
}
.sky .col-xs-2,.sky .col-xs-10{
	position: relative;
}
.we_the_best p.text_upper,
.sky p.text_upper{
	color: #183679;
	font-family: RobotoM;
	padding-top: 10px;
	padding-bottom: 15px;
	font-weight: 700;
}
.sky.inner .col-sm-12.our_projects{
	border-top: 2px dotted #96DCFE;
	margin-top: 70px;
}
.sky.inner .col-sm-12.our_projects.testimonials{
	border-top: 0px dotted #96DCFE;
	margin-top: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.sky.inner .col-sm-12.our_projects.testimonials .col-sm-8{
	min-height: 2px; /* если дочерний элемент будет выше родителя, то родитель увеличится на необходимую высоту. При необходимости заменить на height */
}
.sky.inner .col-sm-12.our_projects.testimonials .col-sm-8 .wrap_p {
	display: inline-block;
	vertical-align: middle;
	width: 98%;
	text-align: justify !important;
}
.sky.inner .col-sm-12.our_projects.testimonials .col-sm-8.testims:before {
	content: "";
	display: inline-block;
	min-height: inherit;
	height: 100%;
	vertical-align: middle;
}

.sky.inner .col-sm-12.our_projects a .img{
	/*margin-bottom: 20px;*/
}
.sky.inner .col-sm-12.our_projects a .img_house{
	position: relative;
	left: 10px;
}
.sky.inner .col-sm-12.our_projects a{
	text-transform: capitalize;
	/*text-transform: lowercase;*/
	/*text-transform: uppercase;*/
	/*color: #183679;*/
	/*color: #000;*/
	color: #BCBDBE;
	position: relative;
	z-index: 1;
	display: block;
	font-size: 14px;
	/*font-family: Roboto;*/
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 500;
}
.sky.inner .col-sm-12.our_projects a.give_good,
.sky.inner .col-sm-12.our_projects a.test_text{
	text-transform: uppercase;
	color: #183679;
	font-family: RobotoM;
	font-size: 18px;
	font-weight: 700;
}
.sky.inner .col-sm-12.our_projects.testimonials .col-sm-8 .wrap_p{
	background-color: #eafcff;
	border-radius: 10px;
	padding: 30px 20px;
	font-size: 15px !important;
}
.sky.inner .col-sm-12.our_projects.testimonials .col-sm-8 p{
	margin-top: 0px;
	margin-bottom: 0px;
}
.sky.inner .col-sm-12.our_projects .project_link{
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.sky.inner .col-sm-12.our_projects .project_link a .img.img_house{
	left: -3px;
}
.sky.inner .col-sm-12.our_projects .project_link a .img.only_circle{
	left: 20%;
}
.desc{
	/*display: inline;*/
	display: block;
	/*max-height: 60px;*/
	overflow: hidden;
	text-align: justify !important;
}
.desc>p:nth-child(2),
.desc>p:first-child{
	display: inline;
	/*font-size: 15px !important;*/
}
.collapse.in{
	display: inline;
	line-height: 2;
	transition: .5s;
}
.collapse{
	line-height: 2;
	transition: .5s;
}
.start{
	line-height: 2;
}
a.three_dots{
	font-size: 14px;
	color: #183679;
	font-family: Roboto;
}
a.three_dots.collapsed,
a.three_dots{
	display: inline;
	font-weight: 700;
}
.our_projects.testimonials > .row:first-child a.arr_circle.expand,
.our_projects.testimonials > .row:nth-child(2) a.arr_circle.expand,
.our_projects.testimonials > .row:nth-child(3) a.arr_circle.expand,
.our_projects.testimonials > .row:nth-child(4) a.arr_circle.expand,
.our_projects.testimonials > .row:nth-child(5) a.arr_circle.expand,
.our_projects.testimonials > .row:nth-child(6) a.arr_circle.expand,
.our_projects.testimonials > .row:nth-child(7) a.arr_circle.expand,
.our_projects.testimonials > .row:nth-child(8) a.arr_circle.expand,
.our_projects.testimonials > .row:nth-child(9) a.arr_circle.expand,
.our_projects.testimonials > .row:nth-child(10) a.arr_circle.expand{
	background-image: url("/images/inner/up.png");
	background-size: 100% 100%;
	width: 36px;
	height: 36px;
	margin: auto;
	display: block !important;
	margin-top: 10px;
	margin-bottom: 10px;
}
/*End Sky*/

/*Footer*/
footer{
	padding-top: 25px;
	padding-bottom: 25px;
}
footer p.font_18,
footer p.font_18 a{
	color: #183679;
	font-family: RobotoM;
}
footer p.font_18 a:hover{
	color: #1C408E;
	text-decoration: none;
}
.modal-header{
	border-bottom: 0px;
	min-height: initial;
	padding: 5px 8px;
}
.pluso-more{
	display: none !important;
}
#callme .callme_viewform .stof-ph-circle-fill{
	/*background-color: #67A100 !important;*/
	background-color: #429900 !important;
}
div#callme::after {
	/*border-top: 17px solid #67A100 !important;*/
	border-top: 17px solid #429900 !important;
}
.insta_block{
	display: inline-block;
	position: relative;
	padding-top: 5px;
	vertical-align: top;
}
.insta_block img{
	width: 40px;
	position: relative;
	left: 4px;
}
/*End Footer*/

@media screen and (max-width: 1199px){

	.sky video{
		height: inherit;
		width: initial;
	}
}

@media screen and (max-width: 767px){
	header{
		text-align: center;
	}
	header .col-sm-4 .img{
		margin: auto;
		padding-bottom: 30px;
	}
	header p{
		/*display: inline-block;*/
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.envelope,
	.phone,
	.goal{
		position: relative;
		top: 4px;
		margin-left: 0px;
		margin-right: 5px;
		float: none;
	}
}
@media screen and (max-width: 420px){
	footer p a{
		display: block;
		padding-top: 10px;
	}
}

/* Inner */
.sky.inner{
	background-size: 100% 55%;
}

.once {
	-webkit-animation-iteration-count: 1 !important;
	animation-iteration-count: 1 !important;
}

.carousel-inner .item.active .col-sm-12 a,
.carousel-inner .item.active .col-sm-6 a,
.carousel-inner .item.active .col-sm-4 a{
	opacity: 1;
	animation-duration: 2s;
	/*animation-delay: .5s;*/
	transition: .5s;
	animation-iteration-count: 1;
}
.sky #carousel-logo .row{
	margin-right: 0px !important;
	margin-left: -30px !important;
}
.sky #carousel-logo.list .row{
	margin-right: 0px !important;
	margin-left: 0px !important;
}
.sky .our_team #carousel-logo .row{
	margin-left: 0px !important;
}
.img.img-responsive.img-circle.img_house{
	margin: auto;
	/*margin-bottom: 50px;*/
	animation-iteration-count: 1;
	max-width: 241px;
}
.price{
	font-family: Rusboy, sans-serif;
	font-size: 40px;
	color: #0000aa;
	position: relative;
	z-index: 20;
	top: -50px;
	margin-top: 0px;
}
a .price:hover{
	text-decoration: none;
}
/*.sky.inner .our_projects a,*/
.sky #carousel-logo .col-sm-12 a,
.sky #carousel-logo .col-sm-6 a,
.sky #carousel-logo .col-sm-4 a{
	position: relative;
	display: block;
	padding-top: 10px;
}
#small_carousel-logo .col-sm-12 > a .img.only_circle,
.col-sm-12 > .col-sm-12 > a .img.only_circle,
.col-sm-6 > .col-sm-12 > a .img.only_circle,
.col-sm-4 > .col-sm-12 > a .img.only_circle,
.col-sm-4 > a .img.only_circle{
	/*content: '';*/
	/*background-image: url('../images/inner/blue_circle.png');*/
    /*background-size: 100% 100%;*/
    /*background-position: inherit;*/
    /*background-repeat: no-repeat;*/
    position: absolute;
    display: block;
    z-index: 10;
    top: 0px;
    left: 19%;
}
.col-sm-4 > a .img.only_circle.link_projects{
	left: 20%;
}
.col-sm-6 > .col-sm-12 > a .img.only_circle{
	left: 30%;
}
.col-sm-12 > .col-sm-12 > a .img.only_circle{
	left: 40.5%;
}
.right.carousel-control,
.left.carousel-control{
    top: 42%;
    bottom: initial !important;
    left: 0;
    font-size: 20px;
    color: #fff;
    background-image: url('../../images/inner/left.png') !important;
    background-position: 100% 100% !important;
    background-repeat: no-repeat !important;
    text-align: center;
    opacity: .7;
    width: 36px !important;
    height: 36px !important;
    transition: .3s;
}
.right.carousel-control{
	background-image: url('../../images/inner/right.png') !important;
	left: initial;
	right: 0;
}
.right.carousel-control:hover,
.left.carousel-control:hover{
    opacity: 1;
    transition: .3s;
}
.sky.inner .btn.btn-default{
	background-color: #8ed0f5;
	color: #fff;
	text-transform: uppercase;
	padding-right: 30px;
	padding-left: 30px;
	font-family: RobotoM;
	-webkit-box-shadow: 4px 4px 20px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    4px 4px 20px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         4px 4px 20px 0px rgba(50, 50, 50, 0.75);
	transition: .2s;
}
.sky.inner .btn.btn-default:hover{
	background-color: #72A6C4;
	-webkit-box-shadow: inset 4px 4px 10px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    inset 4px 4px 10px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         inset 4px 4px 10px 0px rgba(50, 50, 50, 0.75);
	transition: .2s;
}
.look_all{
	margin-top: 50px;
}
.sky.inner .our_projects{
	padding-top: 70px;
}
.we_the_best .col-sm-4 a{
	text-decoration: none;
}
.sky.inner .our_projects a .img.img-responsive{
	margin: auto;
	/*width: 100%;*/
	opacity: .8;
	transition: .5s;
}
.we_the_best .col-sm-4 .img.img-responsive.img-circle{
	transition: .5s;
}
.we_the_best .col-sm-4 .img.img-responsive.img-circle:hover {
	transition: .5s;
	transform: rotate(360deg) scale(1.1);
}
.sky.inner .col-sm-12.our_projects a span{
	/*vertical-align: middle;*/
	/*position: relative;*/
	/*top: -75px;*/
	/*color: #fff;*/
}
.sky.inner .col-sm-12.our_projects a{
	text-decoration: none;
}

.sky.inner .our_projects a:hover{
	-webkit-animation-name: jello;
	animation-name: jello;
	animation-duration: 2s;
}

.sky .our_projects .img{
	/*height: 242px;*/
}
.sky .our_projects.testimonials > .row{
	margin-bottom: 40px;
}
.sky .our_projects.testimonials .img.img-circle.img_house{
	width: 242px;
	position: relative;
	left: 0px;
	opacity: 1;
}
.wrap_img{
	position: relative;
	margin: auto;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	/*margin-top: 10px;*/
}
a:hover .wrap_img:before{
	content: '';
	position: absolute;
	background-color: rgba(149,204,234, .5);
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	margin: auto;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	margin-top: 10px;
	margin-bottom: -10px;
	z-index: 30;
	/*transition: .2s;*/
}
a:hover .wrap_img:after{
	content: '';
	position: absolute;
	left: 44%;
	top: 42%;
	background-image: url('/images/inner/loupe.png');
	background-repeat: no-repeat;
	width: 48px;
	height: 48px;
	z-index: 40;
	transition: .5s;
}
.sky .our_projects.testimonials p{
	line-height: 2;
}
.sky.inner .logo_img2,
.sky.inner .text_title{
	opacity: 1;
	animation-duration: 1s;
	position: relative;
	z-index: 20;
}

/* We The Best*/
.we_the_best .wrap{
	background-image: url('../../images/inner/we_the_best2.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding-top: 50px;
}
.we_the_best .col-sm-4 .img.img-circle{
	margin: auto;
}
.we_the_best .col-sm-12 .row{
	margin-bottom: 50px;
}
.we_the_best .col-sm-4 p{
	text-align: center;	
	margin-top: 20px;
}
.we_the_best .col-sm-4 p a{
	font-size: 18px;
	color: #fff;
}
/* End We The Best*/

/* Pagination */
.pagination > li.disabled{
	display: none;
}
.pagination > li:last-child > a, .pagination > li:last-child > span,
.pagination > li:first-child > a, .pagination > li:first-child > span,
.pagination > li a{
	font-family: Rusboy, sans-serif;
	border-radius: 50%;
}
.pagination > li > a{
	border-color: #B7E4F9;
	margin-left: 0px;
	margin-right: 0px;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus{
	background-color: #B7E4F9;
	border-color: #B7E4F9;
}
.pagination > li.next a,
.pagination > li.prev a{
	margin-right: 5px;
	margin-left: 5px;
	left: 0;
	font-size: 0px !important;
	color: #fff;
	background-image: url('../../images/inner/left.png') !important;
	background-position: 100% 100% !important;
	background-repeat: no-repeat !important;
	background-size: contain;
	text-align: center;
	opacity: .7;
	width: 34px !important;
	height: 34px !important;
	transition: .3s;
}
.pagination > li.next a{
	background-image: url('../../images/inner/right.png') !important;
	margin-right: 5px;
}
.pagination > li.next a:hover,
.pagination > li.prev a:hover{
	border-color: #B7E4F9;
	opacity: 1;
	transition: .3s;
}
.pagination > li > a, .pagination > li > span{
	color: #B7E4F9;
	width: 34px !important;
	height: 34px !important;
}
/* End Pagination */

/* Contact Info */
.contact_info{
	margin-bottom: 30px;
}
.contact_info p > a,
.contact_info p > span{
	color: #0000aa;
}
.our_team{
	margin-top: 50px;
}
.our_team h2{
	margin-bottom: 30px;
	color: #183679;
	font-family: RobotoM, sans-serif;
	font-size: 18px;
	text-transform: uppercase;
}
.our_team .img.img_house{
	width: 241px;
	height:241px;
	position: relative;
	left: 0px;
}
.our_team .fio{
	font-size: 20px;
}
.our_team .office{
	color: #0000aa;
	text-transform: lowercase;
}
.sky.inner.pages{
	padding-bottom: 50px;
	border-bottom: 2px dotted #96DCFE;
}
.contact #carousel-logo .col-sm-12 a{
	cursor: default;
}
/* End Contact Info */

/* Yandex map */
#YMapsID {
	margin: 0;
	padding: 0;
	height: 100%;
	height: 350px;
}
.yandexmaps{
	display: none;
}
#YMapsID .ymaps-b-balloon__content-body{
	text-transform: uppercase;
	margin-top: 4px;
}
#YMapsID .ymaps-b-balloon.ymaps-i-custom-scroll{
	opacity: .8 !important;
}
#YMapsID .ymaps-b-balloon__close{
	opacity: .8 !important;
}
#YMapsID .ymaps-b-balloon__close:hover{
	opacity: 1 !important;
}

#coord_form{
	position: absolute;
	z-index: 1000;
	background: none repeat scroll 0% 0% rgb(255, 255, 255);
	list-style: none outside none;
	padding: 10px;
	margin: 0px;
	right: 10px;
	top: 50px;
}
.wrap_yamap.view{
	margin-top: 50px;
	margin-bottom: 50px;
}
/* End Yandex map */

/* View House */
.property-images .carousel-inner > .item > img,
.property-images .carousel-inner > .item > a > img{
	margin: auto;
}
.property-images .right.carousel-control,
.property-images .left.carousel-control{
	position: relative;
	left: -2%;
	top: -80px;
	background-image: none !important;
	opacity: 1;
}
.property-images .right.carousel-control:hover,
.property-images .left.carousel-control:hover{
	background-image: none !important;
}
.property-images .right.carousel-control{
	left: 2%;
}
.property-images .right.carousel-control span.arrow,
.property-images .left.carousel-control span.arrow{
	background-image: url('../../images/inner/left.png') !important;
	background-position: 100% 100% !important;
	background-repeat: no-repeat !important;
	text-align: center;
	opacity: .8;
	width: 36px !important;
	height: 36px !important;
	transition: .3s;
}
.property-images .right.carousel-control span.arrow{
	background-image: url('../../images/inner/right.png') !important;
}
.property-images .right.carousel-control span.arrow:hover,
.property-images .left.carousel-control span.arrow:hover{
	opacity: 1;
	transition: .3s;
}
#myCarousel .item .img{
	width: 1920px;
}
.view_house .desc{
	margin-top: 20px;
	margin-bottom: 50px;
}
.loading,
.vtour_title,
.view_house_slider h2,
.view_house .desc h2{
	color: #183679;
	font-family: RobotoM, sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 30px;
	margin-top: 30px;
}
.vtour_title{
	position: relative;
	margin: auto;
	top: 50px;
	text-shadow: 1px 1px 4px rgba(255,255,255,1);
}
.view_house .desc p{
	font-family: Roboto, sans-serif;
	font-size: 14px;
}
.view_house .btn_block{
	/*margin-bottom: 35px;*/
}
.view_house_detail .btn_block{
	margin-bottom: 35px;
	overflow: visible;
}
.view_house_slider{
	margin-top: 35px;
}
.view_house_slider .img.img-responsive.img-circle.img_house{
	padding-top: 10px;
}
.view_house_slider div.col-sm-12>div.col-sm-12 a.fancybox-thumb:before:hover{
	content: '';
	display: block;
	position: relative;
	z-index: 19;
	background-color: rgba(0,0,0,.5);
	margin: auto;
}
.view_house_slider .col-sm-4 > a .img.only_circle{
	left: 24%;
}
.view_house_slider .item .row > .col-sm-12,
.view_house_slider .item .row > .col-sm-6:first-child,
.view_house_slider .item .row > .col-sm-6:nth-child(2),
.view_house_slider .item .row > .col-sm-4:first-child,
.view_house_slider .item .row > .col-sm-4:nth-child(2),
.view_house_slider .item .row > .col-sm-4:nth-child(3){
	margin-bottom: 30px;
}
.list_houses .col-sm-4{
	margin-bottom: 50px;
}
/* End View House */

/* Callback */
.gosnip>a,
.gosnip{
	display: none !important;
}
.cme-form span.cme-btn-place{
	padding: 3px 13px 3px 10px !important;
}
.cme-btn, .cme-form .cme-btn{
	width: 100% !important;
	left: 0px !important;
	display: block !important;
	margin: auto !important;
}
.cme-form .cme-txt{
	display: block !important;
	margin: auto !important;
}
.cme-form span{
	padding: 3px 10px !important;
}
/* End Callback */

/* Give Good*/
.blue{
	border-radius: 20px;
	background-color: #EAFCFF;
	padding: 20px 40px;
	margin-top: 20px;
}
.give_good_block .img.img-responsive.img-thumbnail{
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
.give_good .img.img-responsive{
	padding-bottom: 24px;
}
.thumbs_block .col-sm-6{
	padding-right: 0px;
	margin-bottom: 15px;
}
/* End Give Good*/
.insta_block .pluso-instagram{
	opacity: 0;
}
.less_350 .pluso-instagram,
.more_350 .pluso-instagram{
	vertical-align: top;
}
.pluso-wrap.opac .pluso-instagram{
	opacity: 1;
}
.pluso-wrap{
	 opacity: 0;
}
.pluso-wrap.opac{
	opacity: 1;
}
.more_350 .pluso-instagram > img{
	width: 40px;
}
.less_350 .pluso-instagram > img{
	width: 30px;
}
@media screen and (min-width: 351px){
	.more_350{
		display: block;
	}
	.less_350{
		display: none;
	}
}

@media screen and (min-width: 401px){
	.more_400{
		display: block;
	}
	.less_400{
		 display: none;
	}
}

@media screen and (min-width: 768px){
	.jello_block:hover{
	/*.contact .carousel-inner .item .col-sm-12 > .col-sm-12 > a:hover,*/
	/*.carousel-inner .item .col-sm-12 > .col-sm-12 > a:hover,*/
	/*.contact .carousel-inner .item .col-sm-6 > .col-sm-12 > a:hover,*/
	/*.carousel-inner .item .col-sm-6 > .col-sm-12 > a:hover,*/
	/*.carousel-inner .item .col-sm-4 > .col-sm-12 > a:hover{*/
		opacity: 1;
		transition: .5s;
		animation-name: jello;
		/*transform: scale(1.05);*/
		animation-duration: 2s;
	}
	.list_houses .col-sm-12 a.jello_block,
	.list_houses .col-sm-6 a.jello_block,
	.list_houses .col-sm-4 a.jello_block{
		position: relative;
		display: block;
		padding-top: 10px;
		/*left: 10px;*/
	}
	.list_houses .col-sm-12 a.jello_block .img-circle,
	.list_houses .col-sm-6 a.jello_block .img-circle,
	.list_houses .col-sm-4 a.jello_block .img-circle{
		left: 16%;
	}
	.sky.inner{
		min-height: 650px;
	}
	.navbar-nav > li > a{
		padding-top: 10px;
		padding-bottom: 10px;
    }
	#myCarousel .item .img{
		height: 431px;
	}
	.more_767{
		display: block;
	}
	.less_767{
		display: none;
	}
	.block_img{
		padding-top: 10px;
	}
	.sky.inner .col-sm-12.our_projects.testimonials.common_test a{
		padding-top: 10px;
	}
	.sky video{
		display: block;
	}
}
@media screen and (min-width: 992px){
	#myCarousel .item .img{
		height: 557px;
	}
}
@media screen and (min-width: 1200px){
	.sky .main_img .img.fork,
	.sky .main_img .img.knife{
		top: 100px;
		position: relative;
	}
	.sky .main_img .img.fork{
		left: 60%;
		float: right;
	}
	.sky .main_img .img.knife{
		right: 60%;
	}
	#myCarousel .item .img{
		height: 675px;
	}
}
@media screen and (min-width: 1300px){
	#myCarousel .item .img{
		height: 731px;
	}
}
@media screen and (min-width: 1400px){
	#myCarousel .item .img{
		height: 787px;
	}
}
@media screen and (min-width: 1500px){
	#myCarousel .item .img{
		height: 843px;
	}
}
@media screen and (min-width: 1600px){
	#myCarousel .item .img{
		height: 900px;
	}
}
@media screen and (min-width: 1700px){
	#myCarousel .item .img{
		height: 956px;
	}
}
@media screen and (min-width: 1800px){
	#myCarousel .item .img{
		height: 1012px;
	}
}
@media screen and (min-width: 1920px){
	#myCarousel .item .img{
		height: 1080px;
	}
}
@media screen and (max-width: 1199px){
	.col-sm-4 a .img.only_circle{
		left: 40px;
	}
	.sky .main_img .img.fork,
	.sky .main_img .img.knife{
		top: 50px;
		position: relative;
		z-index: 30;
		margin-bottom: 0px;
	}
	.sky .main_img .img.fork{
		left: 40%;
		float: right;
	}
	.sky .main_img .img.knife{
		right: 40%;
	}
	.view_house_slider .img.img-responsive.img-circle.only_circle {
		left: 13%;
	}
	.contact .col-sm-4 > .col-sm-12 > a .img.only_circle,
	.contact .col-sm-4 > a .img.only_circle{
		left: 11%;
	}
	.contact .col-sm-12 > .col-sm-12 > a .img.only_circle{
		left: 39%;
	}

	.our_team .col-sm-12 > .col-sm-12 > a .img.img-responsive.img-circle.only_circle{
		left: 38%;
	}
	.view_house_slider .col-sm-12 > .col-sm-12 > a .img.img-responsive.img-circle.only_circle {
		left: 38.5%;
	}
	.our_team .col-sm-6 > .col-sm-12 > a .img.img-responsive.img-circle.only_circle{
		left: 24%;
	}
	.view_house_slider .col-sm-6 > .col-sm-12 > a .img.img-responsive.img-circle.only_circle {
		left: 26%;
	}

	.our_team .carousel-inner .col-sm-12 > .col-sm-12 > a .only_circle,
	.our_team .carousel-inner .col-sm-6 > .col-sm-12 > a .only_circle{
		/*left: 26%;*/
	}
	.our_team .carousel-inner .col-sm-4 > .col-sm-12 > a .only_circle{
		left: 9%;
	}
	.jssort02 {
		  height:  310px !important;
	}
	.navbar-nav > li > a{
		height: 60px;
	}
	.col-sm-4 > a .img.only_circle.link_projects{
		left: 14%;
	}
	.list_houses .only_circle{
		left: 8% !important;
	}
	.sky.inner .col-sm-12.our_projects .project_link a .img.only_circle{
		left: 15.5%;
	}
}
@media screen and (max-width: 991px){
	.col-sm-4 a .img.only_circle{
		left: 4%;
	}
	.sky .main_img .img.fork,
	.sky .main_img .img.knife{
		top: 20px;
		position: absolute !important;
		z-index: 30;
		margin-bottom: 0px;
	}
	.sky .main_img .img.fork{
		left: 30%;
	}
	.sky .main_img .img.knife{
		right: 30%;
	}
	.view_house_slider .img.img-responsive.img-circle.only_circle {
		left: 11%;
	}
	.our_team .col-sm-12 > .col-sm-12 > a .img.img-responsive.img-circle.only_circle{
		left: 34%;
	}
	.view_house_slider .col-sm-12 > .col-sm-12 > a .img.img-responsive.img-circle.only_circle {
		left: 38%;
	}
	.our_team .col-sm-6 > .col-sm-12 > a .img.img-responsive.img-circle.only_circle{
		left: 16%;
	}
	.view_house_slider .col-sm-6 > .col-sm-12 > a .img.img-responsive.img-circle.only_circle {
		left: 25%;
	}
	.our_team .carousel-inner .item.active .col-sm-12 > .col-sm-12 > a:hover,
	.our_team .carousel-inner .item.active .col-sm-6 > .col-sm-12 > a:hover {
		/*left: 27%;*/
	}
	.contact .our_team .img.img_house{
		height: auto;
	}
	.contact .col-sm-4 > .col-sm-12 > a .img.only_circle{
		left: 6%;
	}
	.jssort02 {
		height:  280px !important;
		margin-top: 45px !important;
	}
	.jssort02 .p:first-child{
		margin-left: -2px !important;
	}
	.jssort02 .p:nth-child(2){
		margin-left: -8px !important;
	}
	.jssort02 .c{
		left: 2px;
		top: 0px;
	}
	.jssort02 .pav .c{
		left: -2px;
		top: 0px;
	}
	.jssora05r{
		left: 43% !important;
	}
	.vtour{
		height: 450px;
	}
	.sky #carousel-logo .row{
		margin-left: 0px !important;
	}
	.col-sm-4 > a .img.only_circle.link_projects{
		left: 9%;
	}
	.list_houses .price{
		font-size: 28px;
		top: -40px;
	}
	.list_houses .only_circle{
		left: 4% !important;
	}
	.img.img-responsive.img-circle.img_house{
		max-width: 210px;
	}
	.give_good .img.img-responsive{
		padding-bottom: 0px;
	}
	.test_text .img.img-responsive{
		padding-bottom: 6px;
	}
	.sky.inner .col-sm-12.our_projects .project_link a .img.only_circle{
		left: 9%;
	}
}
@media screen and (max-width: 767px){
	.sky #carousel-logo .col-sm-4{
		margin-bottom: 20px;
	}
	.col-sm-4 a .img.only_circle{
		left: 33%;
	}
	.sky.inner {
    	background-size: 100% 80%;
	}
	.sky.inner .our_projects .img.img-responsive{
		width: 40%;
	}
	.sky.inner .col-sm-12.our_projects a span{
		top: -100px;
	}
	.we_the_best .wrap{
		background-image: none;
		background-color: #44AEE8;
	}
	.view_house_slider .fancybox-thumb{
		padding-top: 10px;
	}
	.view_house_slider .img.img-responsive.img-circle.img_house{
		padding-top: 0px;
	}
	a:hover .wrap_img:before{
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.more_767{
		display: none;
	}
	.less_767{
		display: block;
	}
	/*.view_house_slider .col-sm-12 > .col-sm-12 > a .img.img-responsive.img-circle.only_circle,*/
	.our_team .col-sm-12 > .col-sm-12 > a .img.img-responsive.img-circle.only_circle,
	.contact .col-sm-12 > .col-sm-12 > a .img.only_circle{
		left: 35.5%;
	}
	.price{
		text-align: center;
	}
	.sky.inner .our_projects a .img.img-responsive.link.img_house,
	.img.img-responsive.img-circle.img_house{
		width: 241px;
		height: 241px;
	}
	.sky.inner .our_projects a .img.img-responsive.link.img_house{
		margin-bottom: 30px;
	}
	.sky.inner .our_projects .test_link{
		margin-bottom: 30px;
	}
	.img.img-responsive.img-circle.img_house{
		margin-bottom: 50px;
	}
	.navbar-nav > li > a{
		border-right: 0px;
	}
	.we_the_best .col-sm-12 .row{
		margin-bottom: 20px;
	}
	.navbar-nav > li > a{
		height: 40px;
	}
	.jssort02 {
		height:  280px !important;
		margin-top: 40px !important;
	}
	.img.img-responsive.img-circle.img_house{
		margin-top: 10px;
	}
	.list_houses .img.img-responsive.img-circle.img_house{
		margin-top: 0px;
	}
	#small_carousel-logo .col-sm-12 > a .img.only_circle,
	.col-sm-4 > a .img.only_circle.link_projects,
	.col-sm-4 > a .img.only_circle{
		top: -10px !important;
		left: 36%;
	}
	.block_img{
		margin-left: -20px;
	}
	.view_h .img.img-responsive.img-circle.img_house{
		margin-top: 0px;
	}
	.list_houses .only_circle{
		left: 35% !important;
	}
	.list_houses .price{
		font-size: 40px;
		top: 0px;
	}
	.sky.inner .col-sm-12.our_projects.testimonials.common_test .only_circle{
		left: 35%;
	}
	.view_h .img.img-responsive.img-circle.img_house{
		padding-top: 0px !important;
		margin-top: 0px !important;
	}
	.view_house_slider .col-sm-12 > .col-sm-12 > a .img.img-responsive.img-circle.only_circle,
	.view_house_slider .img.img-responsive.img-circle.only_circle {
		left: 36%;
		top: -10px;
	}
	.sky video{
		display: none;
	}
	.give_good_block > .col-sm-4{
		margin-left: 5px;
		margin-right: 5px;
	}
	.thumbs_block .col-sm-6{
		padding-left: 5px;
		padding-right: 5px;
	}
	.thumbs_block .col-sm-6:first-child{
		margin-top: 15px;
	}
	div#callme::after{
		content: '';
	}
	header .padding_top.font_18.text-right{
		text-align: center;
	}
	section.sky.inner .col-sm-12.our_projects.text-center p.text_upper.text_bold.text-center.font_18{
		padding-bottom: 40px;
	}
	section.sky.inner .col-sm-12.our_projects.text-center > .col-sm-4.test_link .img.img-responsive{
		border-radius: 50%;
	}
	section.sky.inner .col-sm-12.our_projects.text-center .col-sm-4{
		margin-bottom: 40px;
	}
	section.sky.inner .col-sm-12.our_projects.text-center .col-sm-4:first-child{

	}
	.img.img-responsive.img-circle.img_house{
		max-width: 241px;
	}
	.sky.inner .col-sm-12.our_projects .project_link a .img.only_circle{
		left: 36%;
	}
}
@media screen and (max-width: 750px){
	.jssort02 {
		height:  270px !important;
		margin-top: 35px !important;
	}
	.sky.inner .col-sm-12.our_projects.testimonials.common_test .only_circle{
		left: 34%;
	}
	.sky.inner .col-sm-12.our_projects .project_link a .img.only_circle,
	.view_house_slider .col-sm-12 > .col-sm-12 > a .img.img-responsive.img-circle.only_circle,
	.view_house_slider .img.img-responsive.img-circle.only_circle {
		left: 35.5%;
	}
}
@media screen and (max-width: 730px){
	.jssort02 {
		margin-top: 40px !important;
	}
	.col-sm-4 a .img.only_circle{
		left: 32%;
	}
	#small_carousel-logo .col-sm-12 > a .img.only_circle,
	.col-sm-4 > a .img.only_circle.link_projects,
	.col-sm-4 > a .img.only_circle{
		left: 35%;
	}
}
@media screen and (max-width: 700px){
	.col-sm-4 a .img.only_circle{
		left: 31%;
	}
	.sky.inner .col-sm-12.our_projects .project_link a .img.only_circle,
	/*.view_house_slider .col-sm-12 > .col-sm-12 > a .img.img-responsive.img-circle.only_circle,*/
	.view_house_slider .img.img-responsive.img-circle.only_circle {
		left: 34.5%;
	}
	.view_house_slider .col-sm-12 > .col-sm-12 > a .img.img-responsive.img-circle.only_circle,
	.our_team .col-sm-12 > .col-sm-12 > a .img.img-responsive.img-circle.only_circle,
	.contact .col-sm-12 > .col-sm-12 > a .img.only_circle{
		left: 35%;
	}
	.jssort02 {
		margin-top: 53px !important;
	}
	.list_houses .only_circle{
		left: 33.5% !important;
	}
	.sky.inner .col-sm-12.our_projects.testimonials.common_test .only_circle{
		left: 33%;
	}
}
@media screen and (max-width: 680px){
	.jssort02 {
		margin-top: 58px !important;
	}
}
@media screen and (max-width: 650px){
	.jssort02 {
		margin-top: 68px !important;
	}
	.sky #carousel-logo .col-sm-4{
		margin-bottom: 20px;
	}
	.col-sm-4 a .img.only_circle{
		left: 28%;
	}
	.sky.inner {
    	background-size: 150% 80%;
	}
	.sky.inner .col-sm-12.our_projects a span{
		top: -90px;
	}
	/*.view_house_slider .col-sm-12 > .col-sm-12 > a .img.img-responsive.img-circle.only_circle,*/
	.our_team .col-sm-12 > .col-sm-12 > a .img.img-responsive.img-circle.only_circle,
	.contact .col-sm-12 > .col-sm-12 > a .img.only_circle{
		left: 34%;
	}
	.sky.inner .col-sm-12.our_projects .project_link a .img.only_circle,
	.view_house_slider .col-sm-12 > .col-sm-12 > a .img.img-responsive.img-circle.only_circle,
	.view_house_slider .img.img-responsive.img-circle.only_circle {
		left: 33%;
	}
	#small_carousel-logo .col-sm-12 > a .img.only_circle,
	.col-sm-4 > a .img.only_circle.link_projects,
	.col-sm-4 > a .img.only_circle{
		left: 33.5%;
	}
	.list_houses .only_circle{
		left: 32% !important;
	}
	.sky.inner .col-sm-12.our_projects.testimonials.common_test .only_circle{
		left: 31.5%;
	}
}
@media screen and (max-width: 640px) {
	#callme{
		display: block !important;
		transform: scale(0.6) !important;
		right: 0px !important;
		opacity: .45 !important;
		transition: .3s;
	}
	#callme:hover{
		opacity: 1 !important;
		transition: .3s;
	}
	.cme-form.flipInY{
		right: 40px !important;
		left: inherit !important;
	}
}
@media screen and (max-width: 625px) {
	.jssort02 {
		margin-top: 75px !important;
	}
	.jssort02 .p:first-child{
		margin-left: -2px !important;
	}
	.jssort02 .p:nth-child(2){
		margin-left: -12px !important;
	}
	.jssora05r{
		left: 41.5% !important;
	}
}
@media screen and (max-width: 600px){
	.jssort02 {
		margin-top: 84px !important;
	}
	/*.view_house_slider .col-sm-12 > .col-sm-12 > a .img.img-responsive.img-circle.only_circle,*/
	.our_team .col-sm-12 > .col-sm-12 > a .img.img-responsive.img-circle.only_circle,
	.contact .col-sm-12 > .col-sm-12 > a .img.only_circle{
		left: 33%;
	}
	.sky.inner .col-sm-12.our_projects .project_link a .img.only_circle,
	.view_house_slider .col-sm-12 > .col-sm-12 > a .img.img-responsive.img-circle.only_circle,
	.view_house_slider .img.img-responsive.img-circle.only_circle {
		left: 31.5%;
	}
	#small_carousel-logo .col-sm-12 > a .img.only_circle,
	.col-sm-4 > a .img.only_circle.link_projects,
	.col-sm-4 > a .img.only_circle{
		left: 32%;
	}
	.list_houses .only_circle{
		left: 31% !important;
	}
	.sky.inner .col-sm-12.our_projects.testimonials.common_test .only_circle{
		left: 30%;
	}
}
@media screen and (max-width: 585px){
	.jssort02 {
		margin-top: 90px !important;
	}
}
@media screen and (max-width: 570px){
	.jssort02 {
		margin-top: 95px !important;
	}
	.jssora05l, .jssora05r{
		top: 38% !important;
	}
	.jssora05r{
		left: 86% !important;
		position: relative;
		z-index: 20;
	}
}
@media screen and (max-width: 550px){
	.sky #carousel-logo .col-sm-4{
		margin-bottom: 20px;
	}
	.col-sm-4 a .img.only_circle{
		left: 26%;
	}
	.sky.inner {
    	background-size: 200% 40%;
	}
	#carousel-logo .item.active .row:nth-child(2){
		display: none;
	}
	.sky.inner .col-sm-12.our_projects a span{
		top: -80px;
	}
	.col-sm-4 a .img.only_circle{
		left: 24%;
	}
	/*.view_house_slider .col-sm-12 > .col-sm-12 > a .img.img-responsive.img-circle.only_circle,*/
	.our_team .col-sm-12 > .col-sm-12 > a .img.img-responsive.img-circle.only_circle,
	.contact .col-sm-12 > .col-sm-12 > a .img.only_circle{
		left: 31.5%;
	}
	.sky.inner .col-sm-12.our_projects .project_link a .img.only_circle,
	.view_house_slider .col-sm-12 > .col-sm-12 > a .img.img-responsive.img-circle.only_circle,
	.view_house_slider .img.img-responsive.img-circle.only_circle {
		left: 30%;
	}
	#small_carousel-logo .col-sm-12 > a .img.only_circle,
	.col-sm-4 > a .img.only_circle.link_projects,
	.col-sm-4 > a .img.only_circle{
		left: 30.5%;
	}
	.sky.inner .our_projects a .img.img-responsive.link.img_house{
		left: 3%;
	}
	.sky.inner .our_projects .img.img-responsive{
		width: 50%;
	}
	.list_houses .only_circle{
		left: 29% !important;
	}
	.sky.inner .col-sm-12.our_projects.testimonials.common_test .only_circle{
		left: 28%;
	}
	.cme-form.flipInY{
		right: 35px !important;
		left: inherit !important;
	}
}
@media screen and (max-width: 500px){
	.col-sm-4 a .img.only_circle{
		left: 22%;
	}
	.sky.inner #carousel-logo .row{
		margin-right: -30px !important;
	}
	.sky.inner .col-sm-12.our_projects a span{
		top: -70px;
	}
	/*.view_house_slider .col-sm-12 > .col-sm-12 > a .img.img-responsive.img-circle.only_circle,*/
	.our_team .col-sm-12 > .col-sm-12 > a .img.img-responsive.img-circle.only_circle,
	.contact .col-sm-12 > .col-sm-12 > a .img.only_circle {
		left: 30%;
	}
	.sky.inner .col-sm-12.our_projects .project_link a .img.only_circle,
	.view_house_slider .col-sm-12 > .col-sm-12 > a .img.img-responsive.img-circle.only_circle,
	.view_house_slider .img.img-responsive.img-circle.only_circle {
		left: 28%;
	}
	.jssora05r{
		left: 85% !important;
	}
	#small_carousel-logo .col-sm-12 > a .img.only_circle,
	.col-sm-4 > a .img.only_circle.link_projects,
	.col-sm-4 > a .img.only_circle{
		left: 29%;
	}
	.sky.inner .our_projects a .img.img-responsive.link.img_house{
		left: 2.5%;
	}
	.sky.inner .col-sm-12.our_projects .project_link a .img.img_house{
		left: -3px;
	}
	.sky.inner .our_projects .img.img-responsive{
		width: 55%;
	}
	.list_houses .only_circle{
		left: 27% !important;
	}
	.sky.inner .col-sm-12.our_projects.testimonials.common_test .only_circle{
		left: 26%;
	}
	.cme-form.flipInY{
		right: 30px !important;
		left: inherit !important;
	}
	.we_the_best p.text_upper, .sky p.text_upper{
		padding-left: 30px;
		padding-right: 30px;
		/*margin-left: 15px;*/
	}
	.sky.inner,
	.we_the_best,
	.sky.inner .col-sm-12.our_projects{
		/*margin-left: 15px;*/
	}
	.right.carousel-control,
	.left.carousel-control{
		left: 5px;
	}
	.right.carousel-control{
		left: initial;
		right: 5px;
	}
}
@media screen and (max-width: 450px){
	.col-sm-4 a .img.only_circle{
		left: 20%;
	}
	.sky.inner {
		background-size: 200% 45%;
	}
	/*.view_house_slider .col-sm-12 > .col-sm-12 > a .img.img-responsive.img-circle.only_circle,*/
	.our_team .col-sm-12 > .col-sm-12 > a .img.img-responsive.img-circle.only_circle,
	.contact .col-sm-12 > .col-sm-12 > a .img.only_circle {
		left: 27%;
	}
	.sky.inner .col-sm-12.our_projects .project_link a .img.only_circle,
	.view_house_slider .col-sm-12 > .col-sm-12 > a .img.img-responsive.img-circle.only_circle,
	.view_house_slider .img.img-responsive.img-circle.only_circle {
		left: 25%;
	}
	.jssora05r{
		left: 84% !important;
	}
	#small_carousel-logo .col-sm-12 > a .img.only_circle,
	.col-sm-4 > a .img.only_circle.link_projects,
	.col-sm-4 > a .img.only_circle{
		left: 26%;
	}
	.sky.inner .our_projects a .img.img-responsive.link.img_house{
		left: 4%;
	}
	.sky.inner .col-sm-12.our_projects .project_link a .img.img_house{
		left: -3px;
	}
	.sky.inner .our_projects .img.img-responsive{
		width: 65%;
	}
	.list_houses .only_circle{
		left: 24% !important;
	}
	.sky.inner .col-sm-12.our_projects.testimonials.common_test .only_circle{
		left: 23%;
	}
	.cme-form.flipInY{
		right: 25px !important;
		left: inherit !important;
	}
}
@media screen and (max-width: 400px){
	.col-sm-4 a .img.only_circle{
		left: 16%;
	}
	.sky.inner .col-sm-12.our_projects a span{
		top: 0px;
		color: #090909;
		padding-top: 10px;
		padding-bottom: 10px;
		display: block;
	}
	/*.view_house_slider .col-sm-12 > .col-sm-12 > a .img.img-responsive.img-circle.only_circle,*/
	.our_team .col-sm-12 > .col-sm-12 > a .img.img-responsive.img-circle.only_circle,
	.contact .col-sm-12 > .col-sm-12 > a .img.only_circle {
		left: 25%;
	}
	.sky.inner .col-sm-12.our_projects .project_link a .img.only_circle,
	.view_house_slider .col-sm-12 > .col-sm-12 > a .img.img-responsive.img-circle.only_circle,
	.view_house_slider .img.img-responsive.img-circle.only_circle {
		left: 22.5%;
	}
	.jssora05r{
		left: 83% !important;
	}
	#small_carousel-logo .col-sm-12 > a .img.only_circle,
	.col-sm-4 > a .img.only_circle.link_projects,
	.col-sm-4 > a .img.only_circle{
		left: 23%;
	}
	.sky.inner .our_projects a .img.img-responsive.link.img_house{
		left: 5%;
	}
	.sky.inner .col-sm-12.our_projects .project_link a .img.img_house{
		left: -3px;
	}
	.sky.inner .our_projects .img.img-responsive{
		width: 70%;
	}
	.list_houses .only_circle{
		left: 21% !important;
	}
	.sky.inner .col-sm-12.our_projects.testimonials.common_test .only_circle{
		left: 20%;
	}
	.more_400{
		display: none;
	}
	.less_400{
		display: block;
	}
	.pluso-more{
		display: none !important;
	}
	section.sky.inner .col-sm-12.our_projects.text-center p.text_upper.text_bold.text-center.font_18{
		padding-left: 30px;
		padding-right: 30px;
		text-align: center;
	}
}
@media screen and (max-width: 350px){
	.more_350{
		display: none;
	}
	.less_350{
		display: block;
	}
	.less_350 .insta_block{
		padding-top: 3px;
	}
	.less_350 .insta_block img{
		width: 30px;
	}
	.col-sm-4 a .img.only_circle{
		left: 10%;
	}
	/*.view_house_slider .col-sm-12 > .col-sm-12 > a .img.img-responsive.img-circle.only_circle,*/
	.our_team .col-sm-12 > .col-sm-12 > a .img.img-responsive.img-circle.only_circle,
	.contact .col-sm-12 > .col-sm-12 > a .img.only_circle {
		left: 23%;
	}
	.sky.inner .col-sm-12.our_projects .project_link a .img.only_circle,
	.view_house_slider .col-sm-12 > .col-sm-12 > a .img.img-responsive.img-circle.only_circle,
	.view_house_slider .img.img-responsive.img-circle.only_circle {
		left: 18.5%;
	}
	.jssora05r{
		left: 81% !important;
	}
	#small_carousel-logo .col-sm-12 > a .img.only_circle,
	.col-sm-4 > a .img.only_circle.link_projects,
	.col-sm-4 > a .img.only_circle{
		left: 21%;
	}
	.sky.inner .our_projects a .img.img-responsive.link.img_house{
		left: 6%;
	}
	.sky.inner .col-sm-12.our_projects .project_link a .img.img_house{
		left: 0px !important;
	}
	.sky.inner .our_projects .img.img-responsive{
		width: 85%;
	}
	.list_houses .only_circle{
		left: 16% !important;
	}
	.sky.inner .col-sm-12.our_projects.testimonials.common_test .only_circle{
		left: 15%;
	}
}
@media screen and (max-width: 320px){
	.col-sm-4 a .img.only_circle{
		left: 8%;
	}
	.sky.inner .col-sm-12.our_projects .project_link a .img.only_circle,
	/*.view_house_slider .col-sm-12 > .col-sm-12 > a .img.img-responsive.img-circle.only_circle,*/
	.our_team .col-sm-12 > .col-sm-12 > a .img.img-responsive.img-circle.only_circle,
	.contact .col-sm-12 > .col-sm-12 > a .img.only_circle {
		left: 18%;
	}
	.view_house_slider .col-sm-12 > .col-sm-12 > a .img.img-responsive.img-circle.only_circle,
	.view_house_slider .img.img-responsive.img-circle.only_circle {
		left: 16%;
	}
	.jssora05r{
		left: 80% !important;
	}
	#small_carousel-logo .col-sm-12 > a .img.only_circle,
	.col-sm-4 > a .img.only_circle.link_projects,
	.col-sm-4 > a .img.only_circle{
		left: 20%;
	}
	.sky.inner .our_projects a .img.img-responsive.link.img_house{
		left: 7%;
	}
	.sky.inner .col-sm-12.our_projects .project_link a .img.img_house{
		left: 0px !important;
	}
	.sky.inner .our_projects .img.img-responsive{
		width: 90%;
	}
	.list_houses .only_circle{
		left: 12% !important;
	}
	.sky.inner .col-sm-12.our_projects.testimonials.common_test .only_circle{
		left: 11%;
	}
}
/* End Inner */