.panoface .lightfaceContent .lightfaceTitle {
 	background-color: #FFFFFF;    /* he color of the upper bar  (titel) */
}

.panoface .lightfaceContent {
	background-color: #9a9a9a;      /* the  color of window background, if  it does not ordered on the call page the other color*/
}

.panoface {
	margin: 0;
	padding: 0;
	border-collapse: collapse;
	/*border-top: -10px solid #9a9a9a;
	border-bottom: -10px solid #9a9a9a;
	border-left: -10px solid #9a9a9a;
	border-right: -10px solid #9a9a9a;*/
	border: 10px solid #FFFFFF;
	position: absolute;
	top: -9000px;
	left: -9000px;
}

.panoface td {
	padding: 0;
	margin: 0;
	background-color: transparent;
	vertical-align: top;
	font-family: 'Verdana';
	font-size: 11px;
}


.panoface .loading {
	display: block;
	margin: 10px auto;
}

.panoface .lightfaceContent .lightfaceTitle {
	font-size: 14px;
	color: #9a9a9a;
	border: 0px solid #9a9a9a;
	font-weight: bold;
	margin: 0;
	margin-bottom: 0;
	padding: 5px 10px;
}

.panoface .lightfaceContent .lightfaceDraggable {
	cursor:move;
}

.panoface .lightfaceContent .lightfaceMessage {
	overflow: auto;
	margin: 0;
	position: relative;
	padding: 5px 10px;
	border: 0px solid #9a9a9a;
}

.panoface .lightfaceContent .lightfaceMessage h3,
.panoface .lightfaceContent .lightfaceMessage h4,
.panoface .lightfaceContent .lightfaceMessage h5,
.panoface .lightfaceContent .lightfaceMessage h6 {
	margin-top: 6px;
}


.panoface .hiddenButton {
	visibility: hidden;
}

.panoface .lightfaceOverlay {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background:url(fbloader.gif) center center no-repeat #9a9a9a;
}

.panoface .lightfaceMessageBox	{
	overflow: auto;
	padding: 10px 10px;
	min-height: 20px;
	position:relative;
}

.panoface .lightFaceMessageBoxImage {
	overflow: hidden;
	padding: 0;
	background:url(fbloader.gif) center center no-repeat #9a9a9a;
}

.panoface .lightFaceMessageBoxImage img {
	display: block;
}

.lightfaceFooter {
   width: 1px; height: 1px;
   visibility: hidden;
}